PROTOCOL=http
BASE_URL=localhost:8120
PORT=8120
DEBUG=overhide-social*

RATE_LIMIT_WINDOW_MS=1000
RATE_LIMIT_MAX_REQUESTS_PER_WINDOW=100
RATE_LIMIT_REDIS_URI=redis://localhost:6379
RATE_LIMIT_REDIS_NAMESPACE=oh-public-rate-limit

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=oh-social
POSTGRES_USER=adam
POSTGRES_PASSWORD=c0c0nut
POSTGRES_SSL=
SELECT_MAX_ROWS=30
SALT=c0c0nut
TOKEN_URL=https://token.overhide.io/validate
INTERNAL_TOKEN=fake

AUTH_TOKEN_URL=https://<tenant>.b2clogin.com/overhide.onmicrosoft.com/<policy-name>/oauth2/v2.0/token
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_REDIRECT_URI=https://localhost:8120/redirect

KEYV_URI=redis://localhost:6379
KEYV_KARNETS_NAMESPACE=karnets
KEYV_KARNETS_TTL_MILLIS=120000